include ./mixin
console.log(id)

doctype html
html
  head
    title Basic Form
  body
    h1 Edit for 
        span= users[userId].name

    form(action='/'+users[userId].name, method='POST')
      +textInput('name', 'Name: ', users[userId].name)
      div
        label(for='email') Email:
        input(type='email', name='email', id='email', value=users[userId].email)
      +textInput('age', 'Age: ', users[userId].age)
      div
        input(type='submit', value='Edit')
      