include ./mixin

doctype html
html
  head
    title Basic Form
  body
    h1 Fill out this Form

    form(action='/', method='POST')
      +textInput('name', 'Name: ', '')
      div
        label(for='email') Email:
        input(type='email', name='email', id='email')
      +textInput('age', 'Age: ', '')
      div
        input(type='submit', value='Submit')
      